{
	"semi": false,
	"arrowParens": "always",
	"bracketSpacing": true,
	"singleQuote": true,
	"useTabs": false,
	"tabWidth": 2,
	"printWidth": 180,
	"overrides": [
		{
			"files": ["*.json", ".eslintrc", ".tslintrc", ".prettierrc", ".tern-project"],
			"options": {
				"parser": "json",
				"tabWidth": 2
			}
		},
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript",
				"tabWidth": 2
			}
		}
	]
}
